<div class='footer'>
  <div class='social-media'>
    <a href='https://github.com/Canakin' target='_blank'><i class='fab fa-github'></i></a>
    <a href='https://www.instagram.com/cancimenser/' target='_blank'><i class='fab fa-instagram'></i></a>
    <a href='https://twitter.com/Can_Cimenser' target='_blank'><i class='fab fa-twitter'></i></a>
    <a href='https://www.facebook.com/can.cimenser' target='_blank'><i class='fab fa-facebook'></i></a>
  </div>
  <div class='copyright'>
    <small><i>Created by Can Cimenser &#169</i></small>
  </div>
</div>


