<div class='container'>
  <div class='col-lg-' id='contactInfo'>
    <h1>Contact Info <i class='far fa-hand-point-down'></i></h1>
    <hr>
    <%= image_tag "https://www.kindpng.com/picc/m/49-496199_icons-envelope-computer-mail-message-email-email-icon.png",id:'icon', width:"200px", height:"200px" %>
    <p><a href="mailto:scan.cimenser@gmail.com"><b>Email:</b> scan.cimenser@gmail.com</a></p>
    <%= image_tag "https://image.flaticon.com/icons/png/512/65/65680.png",id:'icon', width:"200px", height:"200px" %>
    <p><b><a href="https://wa.me/905362689521" target="_blank">Whatsapp:</b> +90 536 268 95 21</a></p>
    <p><i>Please contact us for your comments and demands for our app! Looking forward to hear from you!</i></p>
  </div>
</div>
