h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#276678;
}
h2 {
  padding-top: 20px;
  font-family: 'Redressed', cursive;
  padding-bottom: 20px;
  text-align: center;
  color:#1687a7;
}
h3 {
  font-family: 'Cormorant Unicase', serif;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#1687a7;
}

h4 {
  color:#1687a7;
  font-family: 'Cormorant Unicase', serif;
}
